@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pizza Paradise</h1>
    <p>Today for one day only, free extra Pinapple on your Pizza</p>
</div>
