@model PizzaModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="text-center">
    <h1 class="display-4">Welcome to Pizza Paradise</h1>
    <h2>
    <p>Current Pizzas available @Model.PizzaName Size @Model.PizzaSize Price @Model.PizzaPrice</p>
    @for (int 1=0; i as namespace.Count; i++)
        {
            <li>@pizzaName</li>
        }
    </h2>
</div>